@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    font-size: 62.5%;

    --color-hover-green: #005b35;
    --color-main-green: #007444;
    --color-medium-green: #7ac382;
    --color-light-green: #c1e6c5;

    --color-main-gray: #1c2024;
    --color-medium-gray: #32373d;
    --color-light-gray: #f5f5f5;

    --color-main-white: #ffffff;
    --color-main-transparent: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    text-align: center;

    background-color: var(--color-main-white);
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: min(117rem, 100%);
    margin-inline: auto;
    padding-inline: 2.5rem;
}

.logo {
    margin-top: 3.3rem;
    width: 100%;
}

.logo .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.8rem;
}

.logo img {
    width: 4.8rem;
}

.logo h1 {
    color: var(--color-main-green);

    font-size: 1.8rem;
}

.logo span {
    color: var(--color-hover-green);
}

section header {
    margin-top: 4.5rem;
}

section header,
section header a,
section header span {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section header span svg {
    stroke: var(--color-main-green);
}

section header span {
    gap: 1.4rem;

    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-medium-gray);
}

section header a {
    color: var(--color-medium-gray);
    opacity: 0.8;
    font-size: 1.6rem;
}

.carousel {
    overflow: hidden;
}

.carousel_card {
    display: inline-block;
}

.cards-contain {
    overflow-x: scroll;

    margin-top: 4rem;

    display: flex;
    gap: 2.5rem;

    padding-bottom: 2rem;
}

.card {
    border-radius: 1.5rem;

    height: 27rem;
    width: 20rem;

    object-fit: cover;

    display: flex;
    justify-content: center;

    position: relative;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

i svg {
    position: absolute;
    top: 1.6rem;
    right: 1.4rem;
}

.card img {
    width: 100%;
    border-radius: 1.5rem;
}

.card_button {
    border: none;
    border-radius: 1rem;

    background: var(--color-main-green);

    padding: 0.8rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card_shop {
    width: 92%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    padding-block: 0.8rem;

    background-color: var(--color-main-white);
    border-radius: 1.5rem;

    position: absolute;
    bottom: 1rem;
}

.card_shop legend {
    text-align: left;
}

.card_shop legend h4 {
    font-size: 1.6rem;
    color: var(--color-main-gray);
}

.card_shop legend span {
    font-size: 1.2rem;
    color: var(--color-medium-gray);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;

    position: fixed;
    width: 100%;

    background-color: var(--color-light-gray);

    border-radius: 2rem 2rem 0 0;

    padding-block: 1.7rem;

    bottom: 0;
}

.menu svg {
    cursor: pointer;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 8rem;
}

@media (min-width: 1110px) {
    .cards-contain {
        overflow-x: initial;
    }
}
